@import './abstracts/variables';

.hero{
    .hero-highlight{
        background: $gradient-main;
      border-radius: 6px;
      padding: 6px 10px;
      color: $white;
      font-size: 30px;
    }
}


//blog-section
.blog-section {
  background: #ffffff;
}

.blog-card {
  background: #fff;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);

  .card-img {
    height: 280px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .card-content {
    padding: 18px;

    h4 {
      font-size: 15px;
      line-height: 1.45;
      margin-bottom: 8px;
      color: #111;
    }

    p {
      font-size: 13px;
      line-height: 1.6;
      color: #555;
      margin-bottom: 14px;

      .inline-read {
        color: #111;
        font-weight: 500;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .divider {
      height: 1px;
      background: #eee;
      margin-bottom: 12px;
    }

    .card-footer {
      display: flex;
      flex-direction: column;
      gap: 6px;

      .author {
        font-size: 13px;
        font-weight: 500;
        color: #222;
      }

      .meta {
        display: flex;
        gap: 14px;
        font-size: 12px;
        color: #777;

        i{
            color: #10b981;
        }
      }
    }
  }
}


.pagination-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  margin-right: 120px;
}

.pagination {
  gap: 6px;

  .page-item {
    .page-link {
      width: 36px;
      height: 36px;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      background: #f1f5f9;
      color: #111;
      font-size: 14px;
      font-weight: 500;
      padding: 0;

      &:hover {
        background: #10b981;
        color: #fff;
      }
    }

    &.active .page-link {
      background: #10b981;
      color: #fff;
    }

    &.disabled .page-link {
      background: transparent;
      color: #999;
      cursor: default;
    }
  }
}

