@import './abstracts/variables' ;

.blog-detail-hero {
  background-color: #f4f9f6;
  padding: 40px 0 48px;

  .blog-header{
    font-size: 15px;
  }

  .breadcrumb {
    font-size: 13px;
    color: #6b7280;
    margin-bottom: 12px;

    .sep {
      margin: 0 6px;
    }

    .active {
      background: linear-gradient(117.2deg, #02B9CA 0%, #0CC067 98.54%);
      -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      font-weight: 500;
    }
  }

  h1 {
    font-size: 28px;
    font-weight: 600;
    color: #111827;
    line-height: 1.35;
    max-width: 780px;
    margin-bottom: 16px;
  }

  .meta {
    display: flex;
    align-items: center;
    gap: 18px;
    font-size: 14px;
    color: #6b7280;

    .author {
      font-weight: 500;
      color: #111827;
    }

    i {
      background: linear-gradient(117.2deg, #02B9CA 0%, #0CC067 98.54%);
      -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      margin-right: 6px;
      font-size: 14px;
    }
  }
}

.blog-detail-page {
  background: #ffffff;

  .blog-cover {
    border-radius: 14px;
    overflow: hidden;
    margin-bottom: 24px;

    img {
      width: 100%;
      display: block;
    }
  }

  .blog-title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #111827;
  }

  .blog-content {
    font-size: 15px;
    color: #4b5563;
    line-height: 1.8;

    p {
      margin-bottom: 18px;
    }

    h4 {
      font-size: 18px;
      font-weight: 600;
      margin: 30px 0 12px;
      color: #111827;
    }

    .highlight {
      background: linear-gradient(117.2deg, #02B9CA 0%, #0CC067 98.54%);
      -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      font-weight: 500;
    }
  }

  /* Sidebar */
  .sidebar-box {
    background: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    padding: 18px;
    margin-bottom: 24px;

    h5 {
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 14px;
    }
  }

  .toc {
  list-style: none;
  padding-left: 0;

  li {
    margin-bottom: 10px;

    a {
      text-decoration: none;
      color: #374151;
      font-size: 14px;
      transition: all 0.2s ease;

      &:hover {
        background: linear-gradient(117.2deg, #02B9CA 0%, #0CC067 98.54%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

  }
}


  .recent-post {
    display: flex;
    gap: 12px;
    margin-bottom: 14px;

    img {
      width: 56px;
      height: 56px;
      border-radius: 8px;
      object-fit: cover;
    }

    p {
      font-size: 13px;
      margin: 4px 0 0;
      color: #374151;
    }

    .meta {
      font-size: 12px;
      color: #6b7280;

      i {
        background: linear-gradient(117.2deg, #02B9CA 0%, #0CC067 98.54%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-right: 4px;
      }
    }
  }
}

