@import './abstracts/variables';

body {
  font-family: $font-primary;
}
.section {
  width: 100%;
}

.container {
  max-width: 1320px;
}

// Navbar
.navbar {
  

  &-nav {
    margin-left: 300px;

    .nav-link {
      &:hover {
         background: $gradient-main;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

// Logo
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 550;
}

// Login / Signup buttons
.log-in-container {
  button {
    width: 123px;
    height: 52px;
    border-radius: 10px;
    padding: 15px 30px;
    border: none;
  }
}

#log-in {
     border-radius: 30px;
}

#sign-up {
  background: $gradient-main;
  color: $white;
  background-color: transparent;
  border-radius: 30px;
}

//hero
.hero {
  background-color: $bg-light;
  padding: 80px 0;
  text-align: center;

  .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 16px;
  }

  &-tagline {
    font-size: 14px;
    color: $text-light;
    margin-bottom: 12px;
  }

  &-title {
    font-size: 48px;
    font-weight: 700;
    color: $text-dark;
    line-height: 1.2;
    margin-bottom: 16px;

    .vision {
      background: $gradient-main;
      border-radius: 8px;
      padding: 6px;
      color: $white;
    }
  }

  &-description {
    max-width: 600px;
    margin: 0 auto 32px;
    font-size: 16px;
    color: $text-light;
  }

  &-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    background-color: $white;
    width: 384px;
    border-radius: $border-radius-btn;
    padding: 8px 8px 8px 16px;
    margin:0 auto;


    input[type="email"] {
      border: none;
      background: none;

       &:focus {
          border: none;
          outline: none;
          box-shadow: none;
  }

    }

    .btn-primary {
    
      background:$gradient-main;
      color: #fff;
      border: none;
      border-radius: $border-radius-btn;
      font-size: 14px;
      cursor: pointer;
      width: 123px;
      height: 52px;
      
      &:hover {
        opacity: 0.9;
      }
    }
  }

  &-features {
    display: flex;
    justify-content: center;
    gap: 24px;

    .feature {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      font-size: 14px;
      position: relative;

      .icon {
        border-radius: 999px;
        padding: 10px;
        
        background: linear-gradient(117.2deg, rgba(2, 185, 202, 0.1) 0%, rgba(12, 192, 103, 0.1) 98.54%);


      }
    }
  }
}


//project-overview

.project-overview {
  padding: 80px 0;


  .section-label {
    font-size: 18px;
    font-weight: 600;
    
    margin-bottom: 8px;
    background: $gradient-main;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
  }

  .section-title {
    font-size: 36px;
    color: $text-dark;
    margin-bottom: 16px;
  }

  .section-text {
    font-size: 15px;
    color: $text-muted;
    line-height: 1.6;
    margin-bottom: 16px;
  }

  .stats {
    display: flex;
    gap: 32px;
    margin: 24px 0;

    .stat {
      h4 {
        font-size: 24px;
        font-weight: 700;
        color: $text-dark;
        margin-bottom: 4px;
      }

      span {
        font-size: 14px;
        color: $text-muted;
      }
    }
  }

  .btn-primary {
      padding: 20px 28px;
      background:$gradient-main;
      color: #fff;
      border: none;
      border-radius: $border-radius-btn;
      font-size: 14px;
      cursor: pointer;
     

  }

  .image-wrapper {
    max-width: 520px;
    margin-left:auto;
    

    img {
  
      width: 100%;
      border-radius: 16px;
      object-fit: cover;
    }
  }
}

//feature

.features-card {
    .section-label-card {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 8px;
      background: $gradient-main;
      -webkit-background-clip:text;
      -webkit-text-fill-color: transparent;
    }

    .section-title-card{
      font-size: 36px;
      margin-bottom: 16px;
    }
    

    

    p {
      font-size: 16px;
    }
  }

  .feature-card {
    background-color: $card-bg;
    padding: 30px;
    border-radius: 16px;
    height: 100%;
    transition: all 0.3s ease;

    &:hover {
      transform: translateY(-4px);
    }

    .icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: rgb(255, 255, 255);
      display: inline-block;
      margin-bottom: 16px;
    }

    h4 {
      font-size: 18px;
      font-weight: 600;
      color: $text-dark;
      margin-bottom: 8px;
    }

    p {
      font-size: 16px;
      line-height: 1.5;
    }
}


//image-gallery
.gallery-container {
  max-width: 1320px;
   
}

.gallery-card {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.gallery-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0,0,0,0.7),
    rgba(0,0,0,0)
  );
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.overlay h5 {
  margin: 0;
  font-size: 1.1rem;
}

.overlay span {
  font-size: 0.9rem;
  opacity: 0.85;
}

.img-gal-container{
  padding: 120px 120px;
   .section-label-card{
      background: $gradient-main;
      -webkit-background-clip:text;
      -webkit-text-fill-color: transparent;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 8px;
    }
}



.industry-gallery {
  padding: 80px 0;
  background-color: #f8f9fb;

  .section-header {
    max-width: 700px;
    margin: 0 auto 50px;

    .subtitle {
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      color: #3b82f6;
      margin-bottom: 10px;
      text-transform: uppercase;
    }

    h2 {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 15px;
    }

    p {
      font-size: 15px;
      color: #6b7280;
    }
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
  }

  .gallery-card {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;

    img {
      width: 100%;
      height: 220px;
      object-fit: cover;
      transition: transform 0.4s ease;
    }

    .overlay {
      position: absolute;
      inset: 0;
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.1)
      );
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 20px;
      color: #fff;

      h4 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 5px;
      }

      span {
        font-size: 14px;
        opacity: 0.9;
      }
    }

    &:hover img {
      transform: scale(1.08);
    }
  }
}

//testimonal-section
.testimonial-section{
  .section-label-card{
       background: $gradient-main;
      -webkit-background-clip:text;
      -webkit-text-fill-color: transparent;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 8px;
  }
}
/*TESTIMONIAL CAR */

.testimonial-card {
  background: #ffffff;
  padding: 24px;
  border-radius: 14px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.06);
  height: 100%;

  .section-label{
      background: $gradient-main;
      -webkit-background-clip:text;
      -webkit-text-fill-color: transparent;
  }

  .card-header {
    display: flex;
    align-items: center;
    gap: 14px;
    position: relative;
    margin-bottom: 14px;

    img {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      object-fit: cover;
    }

    h5 {
      font-size: 15px;
      font-weight: 600;
      margin: 0;
    }

    span {
      font-size: 12px;
      color: #777;
    }

    .quote-icon {
      margin-left: auto;
      font-size: 100px;
      line-height: 1;
      background: linear-gradient(117.2deg, rgba(2, 185, 202, 0.08) 0%, rgba(12, 192, 103, 0.08) 98.54%);
      -webkit-background-clip:text;
      -webkit-text-fill-color: transparent;


    }
  }

  p {
    font-size: 14px;
    color: #555;
    line-height: 1.6;
    margin: 0;
  }
}

/* CAROUSEL DOT */

.carousel-indicators {
  position: relative;
  bottom: 0;
  margin-top: 40px;
  display: flex;
  justify-content: center;

  button {
    width: 8px !important;
    height: 8px !important;
    border-radius: 50% !important;
    background-color: #d6d6d6 !important;
    margin: 0 6px !important;
    opacity: 1;
    border: none;

    &.active {
      width: 10px !important;
      border-radius: 50% !important;
      background-color: #22c55e !important;
    }
  }
}

.feature-section {
  background: #f6faf8;
  padding: 80px 0;

  h2 {
    font-size: 38px;
    font-weight: 700;
    max-width: 712px;
    line-height: 1.3;
    margin-bottom: 20px;
    color: #111;
  }

  p {
    font-size: 16px;
    max-width: 712px;
    margin-bottom: 30px;
  }
}

/* Button */
.btn-primary-custom {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 12px 24px;
  background:$gradient-main;
  color: #fff;
  border-radius: 30px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;

  span {
    border-color: white;
    color: white;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }

  &:hover {
    background: #059669;
  }
}

/* Icon Grid */
.icon-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  justify-items: center;
}

/* Icon Card */
.icon-card {
  width: 88px;
  height: 88px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
  transition: 0.3s;

  img {
    width: 36px;
    height: 36px;
  }

  &:hover {
    transform: translateY(-6px);
  }
}

/* Responsive */
@media (max-width: 991px) {
  .feature-section {
    text-align: center;
  }

  .icon-grid {
    margin-top: 40px;
  }
}

.site-footer {
  background: #ffffff;
  margin-top: 120px;
  border-top: 1px solid rgba(235, 236, 239, 1);

  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;

    @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;
      gap: 30px;
    }
  }

  .footer-left {
    max-width: 420px;

    .logo-wrap {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 14px;

      img {
        width: 34px;
      }

      span {
        font-size: 20px;
        font-weight: 700;
        color: #111;
      }
    }

    p {
      font-size: 16px;
      line-height: 26px;
    }
  }

  .footer-social {
    display: flex;
    gap: 12px;
    margin-top: -50px;

    .social-icon {
      width: 38px;
      height: 38px;
      background: #e9f9f3;
      color: #10b981;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 800;
      text-decoration: none;
      transition: 0.3s;

      &:hover {
        background: #10b981;
        color: #fff;
      }
    }
  }

  /* Bottom Bar */
  .footer-bottom {
    background: linear-gradient(90deg, #10b981, #14b8a6);
    padding: 14px 0;

    .bottom-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 13px;
      color: #fff;

      @media (max-width: 768px) {
        flex-direction: column;
        gap: 10px;
        text-align: center;
      }

      .links {
        a {
          color: #fff;
          margin-right: 20px;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}



